#form {
    width:100%;
    text-align: center;
}

.table td {
    border: 1px solid #000000;
}

.table thead th {
    border: 1px solid #000000;
}

td, a {
    color: #e4eb84;
}

td a:hover {
    color: #ffbc42;
}

.jumbotron-fluid {
    background-image: url(book.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 250px;
    width: 100%;
}

#buttonSubmit {
    background-color: #ffbc42;
}

.text-center {
    background-color: #555;
    color: #ffbc42 ;
}

body {
    background-color: #e4eb84;
}

#book {
    font-weight: bold;
    background: rgba(230, 179, 71, 0.5);
}

#find {
    font-weight: bold; 
    color:white;
}

#warning {
    background-color:black; 
    border-radius: 10%;
    width: fit-content;
    margin-left: auto; 
    margin-right: auto;
    color: #e4eb84; 
    text-align: center;
}
