/* Project-wide style */

body {
    font-family: 'Rubik', sans-serif;
  }
  
  .navbar.navbar-expand-lg.navbar-light {
    background-color: #555;
  }
  
  .navbar-brand {
    background-color: #e4eb84; 
    border-radius: 100px;
  }
  
  #link {
    color: #e4eb84;
  }
  
  #sapa {
    color: whitesmoke;
    background-color: black;
  }
  
  
  
  
  
  
  
  