{% extends 'base.html' %}
{% load static %}


{% block title %}Login{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'users.css' %}">
{% endblock additional_css %}

{% block content %}
    <div class="jumbotron jumbotron-fluid" id = "gambar">
        <div class="container">
            <h1 class="display-4" id="judul">LOGIN &#128071</h1>
            <p class="lead" id = "par">Login your account here</p>
        </div>
    </div>
    <div class="container-fluid">
        {% if failed %}
            <h4 id="invalid">Invalid username or password!</h4>
        {% endif %}
        <div class = "container-fluid" id = "form">
            <form method="post" action="{% url 'user:login' %}">
                {% csrf_token %}
                <p><label for="id_username">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Masukkan username kamu disini" id="id_username"></p>
                <p><label for="id_password">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Masukkan password kamu disini" id="id_password"></p>
                <input type="submit" value="Login" id="buttonLogin">
            </form>
        </div>
    </div>
{% endblock content %}