{% extends 'base.html' %}
{% load static %}


{% block title %}Register{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'users.css' %}">
{% endblock additional_css %}

{% block content %}
    <div class="jumbotron jumbotron-fluid" id = "gambar1">
        <div class="container">
            <h1 class="display-4" id="judul">REGISTER &#128203</h1>
            <p class="lead" id = "par">Register your account here</p>
        </div>
    </div>
    <div class = "container-fluid" id = "form">
        {% if registered %}
            efrin.frn says "thank you for registering" &#128077
        {% else %}
        <div class="container">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    <input type="submit" value="Register" id="buttonLogin">
                </form>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}
