form {
    margin: 1rem;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#buttonLogin {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #ffbc42;
    border: 1px solid #000000;
    border-radius: 10px;
    color: #000000;
}

.helptext {
    font-size: small;
}

#invalid {
    color: #ffbc42;
}

#gambar1 {
    background-image: url(register.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 250px;
    width: 100%;
}

#gambar {
    background-image: url(door.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 250px;
    width: 100%;
}

#judul {
    font-weight: bold;
    background: rgba(230, 179, 71, 0.5);
}

#par {
    font-weight: bold; 
    color:white;
}

#form {
    background-color:#e4eb84; 
    border-radius: 10%; 
    border: 10px solid black;
    width: fit-content;
    margin-left: auto; 
    margin-right: auto;
}