html {
    height: 100%;
}
body {
    background-color: #e4eb84;
}

.panel {
    display: none;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s;
}

.panel.active {
    background-color: #555;
    border-radius: 25px;
    display: block;
    max-height: fit-content;
}

.container h3 {
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
    
}

.accordion{
    text-align: center;
    border-radius: 25px;
    background-color: #555;
    margin: 5px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
}

.accordion h3 {
    display: flex;
    flex-direction: column;
}

.accor1 {order: 1;}
.accor2 {order: 2;}
.accor3 {order: 3;}
.accor4 {order: 4;}

.happyButton {
    display: flex;
    justify-content: center;
}

.jumbotron-fluid {
    background-image: url(ui.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 400px;
    width: 100%;
    margin-bottom: 50px;
}

#csatu {
    padding-top: 120px;
    background: rgba(143, 150, 85, 0.5);
    height: 400px;
    color: black;
    width: 100%;
}

.container#biodata {
	background-color: #555;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
    color: white;
    width: 1000px;
}

.container.accord {
	margin-top: 30px;
}

.col-sm-12.judul {
	text-shadow: 2px 2px 5px rgba(0, 0, 0,1);
	color: azure;
}

hr {
    border: 5px dashed #555;
}

.up, .down {
    background-color: #ffbc42; 
    width: fit-content;
    margin-right: auto; 
    margin-left: auto; 
    display: inline-flex;
}

.display-4 {
    font-weight: bold;
}
 img {
    border-radius: 50%; 
    border: 7px solid black;
    display: inline-flexbox;
 }