{% extends 'base.html' %}
{% load static %}

{% block title %}Book{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'books.css' %}">
{% endblock additional_css %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock js %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" id="book">BOOK &#128214</h1>
            <p class="lead" id = "find">Find your books here</p>
        </div>
    </div>
    <br>
    {% if user.is_authenticated %} 
        <div class="container-fluid">
            <div class = "row">
                <div class="d-flex flex-row col sm-12" id="form">
                    <input id='search_input' class="form-control" type="text" placeholder="Search for books name or author here">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-primary" id="buttonSubmit">SEARCH</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table" width="100%">
                        <thead class="text-center">
                        <tr>
                            <th width="15%">Cover</th>
                            <th width="30%">Title</th>
                            <th width="20%">Author</th>
                            <th width="20%">Publisher</th>
                            <th width="15%">Read Here</th>
                        </tr>
                        </thead>
                        <tbody id="table-books" class="text-center">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    {% if not user.is_authenticated %}
        <div class = "container-fluid" id = "warning">
            <h2>&#128226 Login First, Please &#128226</h2>
        </div>
    {% endif %}
{% endblock content %}

{% block script %}<script src="{% static 'books.js' %}"></script>{% endblock script %}