{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title%}Base{% endblock title %}</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'story/styles.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {% block additional_css %}
  {% endblock additional_css %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  {% block js %}
  {% endblock js %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'main:home' %}">efrin.frn</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main:home' %}" id = "link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'books:books' %}" id = "link">Book <span class="sr-only">(current)</span></a>
            </li>
          </ul>
      {% if user.is_authenticated %}
        <ul class="navbar-nav navbar-right">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:logout' %}" id = "link">Logout <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" id = "sapa">Hallo, {{ user.username }}!</a>
          </li>
        </ul>
      {% else %}
        <ul class="navbar-nav navbar-right">
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'user:register' %}" id = "link">Register <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'user:login' %}" id = "link">Login <span class="sr-only">(current)</span></a>
          </li>
        </ul>
    {% endif %}
      </div>
  </nav>
  
  {% block content %}
  {% endblock content %}
  {% block script %}
  {% endblock script%}
</body>

</html>
