{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'styles_main.css' %}">
{% endblock additional_css %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock js %}

{% block content %}
<div class="jumbotron-fluid">
    <div class="container-fluid" id = "csatu">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 judul">
                <h1 align="center" class = "display-4"><b style="font-weight: bold;">Home &#127969</b></h1>
                <hr align="center" width="50%">
                <h2 align="center"><b>Siapa sih Efrin?</b></h2>
            </div>
            <div class="col-sm-12">
                <div class="container" id = "biodata">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-sm-12 col-md-4">
                            <img src="{% static 'efrin.jpg' %}" width="200px" style="display: inline-flexbox;border-radius: 50%; border: 7px solid black;">
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <table>
                                <tr><td><b>Nama</b></td> <td>:</td> <td>Sefrina Fauranisa</td></tr>
                                <tr><td><b>NPM</b></td> <td>:</td> <td>1906398944</td></tr>
                                <tr><td><b>Angkatan</b></td> <td>:</td> <td>2019</td></tr>
                                <tr><td><b>Hobi</b></td> <td>:</td> <td>Tidak pasti</td></tr>
                                <tr><td><b>Tempat Kuliah</b></td> <td>:</td> <td>Universitas Indonesia</td></tr>
                                <tr><td><b>Deskripsi Tentang Saya</b></td> <td>:</td> <td>Pemalas yang berpura-pura tidak malas</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container accord">
            <div class="accor1 accordion">
                <h3>Aktivitas <span><button class="up">up</button><button class="down">down</button></span></h3>
                <div class="panel1 panel">
                    <p>Makan</p>
                    <p>Tidur</p>
                    <p>Ngedrakor</p>
                </div>
            </div>

            <div class="accor2 accordion">
                <h3>Organisasi <span><button class="up">up</button><button class="down">down</button></span></h3>
                <div class="panel2 panel">
                    <p>BEM Fasilkom 2019</p>
                    <p>FUKI 2019</p>
                </div>
            </div>

            <div class="accor3 accordion">
                <h3>Kepanitiaan <span><button class="up">up</button><button class="down">down</button></span></h3>
                <div class="panel3 panel">
                    <p>SIWAK NG 2019</p>
                    <p>BETIS 2019</p>
                </div>
            </div>

            <div class="accor4 accordion">
                <h3>Prestasi <span><button class="up">up</button><button class="down">down</button></span></h3>
                <div class="panel4 panel">
                    <p>Juara 1 Tari Saman Jabodetabek</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script src="{% static 'story7.js' %}"></script>
{% endblock script%}